DB_HOST=hostName
DB_USER=hostUser
DB_PASSWORD=pwd
DB_NAME=dbName


# server x cors

FE_APP=corsServer

# impostazioni braintree

BRAINTREE_MERCHANT_ID=braintreeID
BRAINTREE_PUBLIC_KEY=braintreeKEY
BRAINTREE_PRIVATE_KEY=braintreePrivateAPIKEY
BRAINTREE_ENVIRONMENT=braintreeEnv

# impostazioni email
SITO=emailHostSite
EMAIL=emailUsed
PASSWORD=emailPwd