.contact {
    text-align: center;
}

.contact h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #b56bff;
  letter-spacing: 2px;
}

@media (max-width: 650px) {
  .contact h1 {
    font-size: 45px;
  }
}

.contact p {
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact a {
  color: #75eaff;
  font-weight: 700;
  text-decoration: none;
}

.contact a:hover {
  color: #b56bff !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.social {
    font-size: 40px;
    padding-bottom: 10px;
}

.social i {
    margin-right: 20px;
    color: #b56bff;
    cursor: pointer;
}

.social i:hover {
    margin-right: 20px;
    color: #ffffff;
    transform: scale(1.05);
}

.gal-dim {
  width: 200px;
  margin: 0 auto;
}