.thanks h1 {
    font-size: 2.6rem;
    text-align: center;
}


@media (max-width: 768px) {
  .thanks h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .thanks h1 {
    font-size: 1.4rem;
    padding-top: 40px;
  }
}